<div id="signin">
    <div layout="column">
        <div layout="row" layout-align="end start" flex="15">
        </div>
        <div layout="row" layout-align="center center" layout-padding flex>
            <md-card layout="column" layout-align="center center" flex="35" ng-if="!ctrl.validated">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Mot de passe oublié</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content style="width: 100%;">
                    <form name="signInForm">
                        <div layout="column">
                            <md-input-container flex>
                                <label>Nom d'utilisateur</label>
                                <input>
                            </md-input-container>
                            <span>
                                ou
                            </span>
                            <md-input-container flex>
                                <label>Email</label>
                                <input>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
                <md-card-actions layout="column" layout-align="end center">
                    <md-button ng-click="ctrl.validate()">Réinitialiser mon mot de passe</md-button>
                </md-card-actions>
            </md-card>

            <md-card layout="column" layout-align="center center" flex="35" ng-if="ctrl.validated">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Mot de passe oublié</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content style="width: 100%;">
                        Un courriel a été envoyé à l'email indiqué ou à l'email associé au compte du nom d'utilisateur indiqué.
                    </md-card-content>
                </md-card>
        </div>
    </div>
</div>
