<div id="menu">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4" style="position: absolute"
            flex="20">
    
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Ichiba</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="route in routes" ng-click="go(route.state)">
                        <div class="md-list-item-text" layout="column">
                            <p>{{ route.tooltip }}</p>
                        </div>
                        <md-icon class="material-icons" ng-click="null; $event.stopPropagation()">{{route.icon}}</md-icon>
                    </md-list-item>
                </md-list>
            </md-content>
    
        </md-sidenav>
    
        <md-content layout="row" flex layout-padding>
            <div flex="20">
            </div>
            <div ui-view="content" flex>
            </div>
        </md-content>
    </div>
    