<div>
    <div layout="column">
        <div style="font-weight: 800; font-size: x-large;" layout="row" layout-align="center center" flex="5">
            Fil d'actualité
        </div>
        <div flex="10"></div>
        <div flex>
            <md-card ng-repeat="news in ctrl.newsList" layout="row" layout-align="center center" flex>
                <div layout="column" layout-align="center center" flex>
                    <img style="max-width: 100px; max-height: 100px" ng-src="{{news.picture}}" class="md-avatar"/>
                    <span style="font-weight: bold;">{{ news.name }}</span>
                </div>
                <div layout="column" layout-align="center center" flex layout-padding>
                    <span style="text-decoration: underline; font-weight: bold;">{{ news.from }}</span>
                    <span><md-icon class="material-icons">arrow_downward</md-icon></span>
                    <span style="text-decoration: underline; font-weight: bold;">{{ news.to }}</span>
                </div>
                <div layout="column" layout-align="center center" flex>
                    <span>Prix : {{ news.price }}</span>
                    <span>Salaire : {{ news.salary }}</span>
                    <span>Durée : {{ news.duration }}</span>
                    <span>Date : {{ news.date }}</span>
                </div>
            </md-card>
            <div layout="row" layout-align="center center">
                <a style="font-size: 14; padding-top: 15px; color: black;" href="">Charger plus de nouvelles <md-icon class="material-icons">refresh</md-icon></a>
            </div>
        </div>
    </div>
</div>